create separate models for title prediction and/or text prediction and divide the dataset into title datasets and text datasets. for that need to redo clean_csv

Importing primary dependencies for data fetch and cleanup

In [3]:
import pandas as pd
import numpy as np
import re

from pandas import read_csv

Various constants and data fetch

In [6]:
max_features=10240
max_len=2048
test_prop=0.3
epoch_count=100
batch_size=512

In [72]:
fake=read_csv('https://raw.githubusercontent.com/MobiusYeeitus/FakeNewsDetection/master/datasets/set1/fake.csv')
real=read_csv('https://raw.githubusercontent.com/MobiusYeeitus/FakeNewsDetection/master/datasets/set1/true.csv')
data2=read_csv('https://raw.githubusercontent.com/MobiusYeeitus/FakeNewsDetection/master/datasets/cleaned/ds2.csv')

In [73]:
fake.tail(4)

,title,text,subject,date
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [74]:
real.tail(4)

,title,text,subject,date
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

Compressed every cleanup job into the *clean_csv* function

In [176]:

import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
stem=PorterStemmer()

from gensim.parsing.preprocessing import remove_stopwords
pd.options.mode.chained_assignment = None

In [90]:
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

Need to markdown sequence and omit stopwords using nltk

In [205]:
def clean_string(string): #function to clean a string | to be used in clean_csv
    blank=''
    string=string.lower() #convert string to lowercase
    string=re.sub('\n|\r|\t','',string) #cleaning of whitespaces
    string=re.sub(r'[^\w\s]+','',string) #cleaning of symbols
    remove_stopwords(string)
    return string
def clean_csv(df,identity): #cleaning the CSV file
    print('Cleaning CSV.')
    df=df.dropna() #drop all tuples with empty attributes
    length=[]
    [length.append(len(str(text))) for text in df["text"]] #calculate length of an article
    df['length'] = length #saves the length of the artivle in a new column
    df = df.drop(df['text'][df['length'] < 120].index, axis = 0) #drop all tuples with less than 120 letters
    df['text']=df['title']+" "+df['text'] #append text to title
    vfunc=np.vectorize(clean_string) #vectorize th clean_string function for use in pandas df
    df['text']=vfunc(df['text']) #apply the vectorized function to further clean the data
    df['identity']=identity #add the identity (T/F) or (0/1) in a new attribute to the data
    df.reset_index() #reset all indexes of the dataset
    for x in range (len(df)):
        df['text'].iloc[x]=remove_stopwords(df['text'].iloc[x])
    print('Cleaning completed.')
    return df
def stemming(string): #not using stemming, reduces accuracy with nouns
    review = re.sub('[^a-zA-Z]',' ',string)
    review = review.lower()
    review = review.split()
    review = [stem.stem(word) for word in review if not word in stopwords.words('english')]
    review = ' '.join(review)
    return review

In [209]:
def clean_csv2(df): #cleaning the CSV file
    print('Cleaning CSV.')
    df=df.dropna() #drop all tuples with empty attributes
    length=[]
    [length.append(len(str(text))) for text in df["text"]] #calculate length of an article
    df['length'] = length #saves the length of the artivle in a new column
    df = df.drop(df['text'][df['length'] < 120].index, axis = 0) #drop all tuples with less than 120 letters
    #df['text']=df['title']+" "+df['text'] #append text to title
    vfunc=np.vectorize(clean_string) #vectorize th clean_string function for use in pandas df
    df['text']=vfunc(df['text']) #apply the vectorized function to further clean the data
    df.reset_index() #reset all indexes of the dataset
    for x in range (len(df)):
        df['text'].iloc[x]=remove_stopwords(df['text'].iloc[x])
    print('Cleaning completed.')
    return df

In [211]:
data21=data2.iloc[:int(len(fake)/2),:]
data22=data2.iloc[int(len(fake)/2):,:]

In [213]:
data21=clean_csv2(data21)

Cleaning CSV.

MemoryError: Unable to allocate 4.65 GiB for an array with shape (11168,) and data type <U111784

Splitting up the datasets to conserve RAM, and aviod crashes during cleaning

In [77]:
fake1=fake.iloc[:int(len(fake)/2),:]
fake2=fake.iloc[int(len(fake)/2):,:]

In [177]:
fake1=clean_csv(fake1,0)

Cleaning CSV.
Cleaning completed.

In [179]:
fake1.tail(4)

,title,text,subject,date,length,identity
11734,TRUMP IS REPORTEDLY Preparing Executive Order ...,trump reportedly preparing executive order dep...,politics,"Feb 4, 2017",2560,0
11735,HOW LOS ANGELES COUNTY Helps Illegal Aliens Ge...,los angeles county helps illegal aliens free b...,politics,"Feb 4, 2017",1736,0
11737,MAXINE WATERS TELLS THE “GREATEST DESIRE” FOR ...,maxine waters tells greatest desire nasty dems...,politics,"Feb 4, 2017",1223,0
11738,MMA FIGHTER JAKE SHIELDS Embarrasses Cowards I...,mma fighter jake shields embarrasses cowards m...,politics,"Feb 4, 2017",3859,0

In [180]:
fake2=clean_csv(fake2,0)

Cleaning CSV.
Cleaning completed.

In [181]:
fake=pd.concat([fake1,fake2])

In [182]:
fake.tail(4)

,title,text,subject,date,length,identity
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,justice yahoo settles email privacy classactio...,Middle-east,"January 16, 2016",1684,0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,sunnistan allied safe zone plan territorial bo...,Middle-east,"January 15, 2016",25065,0
23479,How to Blow $700 Million: Al Jazeera America F...,blow 700 million al jazeera america finally ca...,Middle-east,"January 14, 2016",2685,0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,10 navy sailors held iranian military signs ne...,Middle-east,"January 12, 2016",5251,0

In [183]:
real1=real.iloc[:int(len(real)/2),:]
real2=real.iloc[int(len(real)/2):,:]

In [184]:
real1=clean_csv(real1,1)

Cleaning CSV.
Cleaning completed.

In [185]:
real2=clean_csv(real2,1)

Cleaning CSV.
Cleaning completed.

In [186]:
real=pd.concat([real1,real2])

In [187]:
real.tail(4)

,title,text,subject,date,length,identity
21413,LexisNexis withdrew two products from Chinese ...,lexisnexis withdrew products chinese market lo...,worldnews,"August 22, 2017",800,1
21414,Minsk cultural hub becomes haven from authorities,minsk cultural hub haven authorities minsk reu...,worldnews,"August 22, 2017",1950,1
21415,Vatican upbeat on possibility of Pope Francis ...,vatican upbeat possibility pope francis visiti...,worldnews,"August 22, 2017",1199,1
21416,Indonesia to buy $1.14 billion worth of Russia...,indonesia buy 114 billion worth russian jets j...,worldnews,"August 22, 2017",1338,1

Dropping all unnecessary columns

In [188]:
fake=fake[['text','identity']]
real=real[['text','identity']]

In [189]:
fake.tail(2)

                                                    text  identity
23479  blow 700 million al jazeera america finally ca...         0
23480  10 navy sailors held iranian military signs ne...         0

In [199]:
data1=pd.concat([real,fake],ignore_index=True)

In [198]:
data1.tail(4)

                                                    text  identity
43748  justice yahoo settles email privacy classactio...         0
43749  sunnistan allied safe zone plan territorial bo...         0
43750  blow 700 million al jazeera america finally ca...         0
43751  10 navy sailors held iranian military signs ne...         0

In [200]:
data=pd.concat([data1,data2],ignore_index=True)

In [201]:
data.tail(4)

                                                    text  identity  Unnamed: 0
61810  nfl playoffs schedule matchups and odds  the n...         0     18058.0
61811  macys is said to receive takeover approach by ...         0     18059.0
61812  nato russia to hold parallel exercises in balk...         1     18060.0
61813  what keeps the f35 alive   david swanson is an...         1     18061.0

In [27]:
data=data[['text','identity']]
data.reset_index()
data.tail()

                                                    text  identity
61809  rapper ti trump a poster child for white supre...         0
61810  nfl playoffs schedule matchups and odds  the n...         0
61811  macys is said to receive takeover approach by ...         0
61812  nato russia to hold parallel exercises in balk...         1
61813  what keeps the f35 alive   david swanson is an...         1

Importing dependencies for ANN and Representation

In [2]:
import tensorflow as tf

from keras.preprocessing.text import Tokenizer
from keras.utils import pad_sequences
from keras.models import Sequential
from keras.layers import Dense,Embedding,LSTM,Conv1D,MaxPool1D,Dropout,GRU
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,accuracy_score

Tokenizing the dataset for use in the ANN (One_Hot Representation)

In [29]:
print('Tokenizing DF.')
tokenizer=Tokenizer(num_words=max_features,filters='!"#$%&()*+,-./:;<=>?@[\\]^_`{|}~\t\n',split =' ') #filters is redundant, but still keeping if I missed any symbols previously
tokenizer.fit_on_texts(texts=data['text']) #fit
X=tokenizer.texts_to_sequences(texts=data['text'])
X=pad_sequences(sequences=X,maxlen=max_len,padding='pre') #padding the set of words
Y=data['identity'].values #identities (0/1)
V=tokenizer.word_index #vocabulary
print('Tokenized DF.')

Tokenizing DF.
Tokenized DF.

Creating the model and compiling it to be used.

In [ ]:
def create_lstm_model(max_features): #creating the internal structure of the simple LSTM model
        print('Creating LSTM model.')
        lstm_model=Sequential(name='Sierra')
        lstm_model.add(layer=Embedding(input_dim=max_features,output_dim=128,name='Echo'))
        lstm_model.add(layer=LSTM(units=128,name='Lima'))
        lstm_model.add(layer=Dense(1,activation='sigmoid',name ='Omega'))
        print('Model creation completed.')
        lstm_model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])
        print('Model compiled.')
        return lstm_model

In [ ]:
lstm_model=create_lstm_model(max_features)

Creating LSTM model.
Model creation completed.
Model compiled.

In [30]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y)

In [ ]:
lstm_model.fit(X_train,Y_train,batch_size=batch_size,epochs=epoch_count,verbose=1,validation_split=test_prop,shuffle=1,use_multiprocessing=True)

Epoch 1/100
64/64 [==============================] - 35s 497ms/step - loss: 0.5000 - accuracy: 0.7618 - val_loss: 0.2934 - val_accuracy: 0.8724
Epoch 2/100
64/64 [==============================] - 29s 454ms/step - loss: 0.2231 - accuracy: 0.9183 - val_loss: 0.2396 - val_accuracy: 0.9109
Epoch 3/100
64/64 [==============================] - 29s 448ms/step - loss: 0.1557 - accuracy: 0.9432 - val_loss: 0.2051 - val_accuracy: 0.9206
Epoch 4/100
64/64 [==============================] - 29s 461ms/step - loss: 0.3223 - accuracy: 0.8482 - val_loss: 0.3711 - val_accuracy: 0.8282
Epoch 5/100
64/64 [==============================] - 30s 469ms/step - loss: 0.2008 - accuracy: 0.9304 - val_loss: 0.2360 - val_accuracy: 0.9057
Epoch 6/100
64/64 [==============================] - 28s 446ms/step - loss: 0.1278 - accuracy: 0.9566 - val_loss: 0.2349 - val_accuracy: 0.9262
Epoch 7/100
64/64 [==============================] - 29s 449ms/step - loss: 0.1152 - accuracy: 0.9644 - val_loss: 0.1919 - val_accuracy: 0.9383
Epoch 8/100
64/64 [==============================] - 27s 423ms/step - loss: 0.1493 - accuracy: 0.9543 - val_loss: 0.2030 - val_accuracy: 0.9369
Epoch 9/100
64/64 [==============================] - 28s 437ms/step - loss: 0.1482 - accuracy: 0.9468 - val_loss: 0.1747 - val_accuracy: 0.9435
Epoch 10/100
64/64 [==============================] - 28s 440ms/step - loss: 0.0956 - accuracy: 0.9691 - val_loss: 0.1978 - val_accuracy: 0.9351
Epoch 11/100
64/64 [==============================] - 29s 447ms/step - loss: 0.0790 - accuracy: 0.9761 - val_loss: 0.1915 - val_accuracy: 0.9373
Epoch 12/100
64/64 [==============================] - 28s 436ms/step - loss: 0.0687 - accuracy: 0.9795 - val_loss: 0.2192 - val_accuracy: 0.9346
Epoch 13/100
64/64 [==============================] - 28s 447ms/step - loss: 0.0790 - accuracy: 0.9765 - val_loss: 0.2142 - val_accuracy: 0.9256
Epoch 14/100
64/64 [==============================] - 26s 410ms/step - loss: 0.0637 - accuracy: 0.9819 - val_loss: 0.2335 - val_accuracy: 0.9305
Epoch 15/100
64/64 [==============================] - 26s 408ms/step - loss: 0.0620 - accuracy: 0.9820 - val_loss: 0.1805 - val_accuracy: 0.9507
Epoch 16/100
64/64 [==============================] - 28s 436ms/step - loss: 0.0421 - accuracy: 0.9876 - val_loss: 0.1925 - val_accuracy: 0.9450
Epoch 17/100
64/64 [==============================] - 28s 433ms/step - loss: 0.0359 - accuracy: 0.9904 - val_loss: 0.1914 - val_accuracy: 0.9451
Epoch 18/100
64/64 [==============================] - 28s 437ms/step - loss: 0.0482 - accuracy: 0.9861 - val_loss: 0.2163 - val_accuracy: 0.9423
Epoch 19/100
64/64 [==============================] - 28s 436ms/step - loss: 0.0397 - accuracy: 0.9892 - val_loss: 0.1877 - val_accuracy: 0.9523
Epoch 20/100
64/64 [==============================] - 28s 434ms/step - loss: 0.0408 - accuracy: 0.9879 - val_loss: 0.3092 - val_accuracy: 0.9231
Epoch 21/100
64/64 [==============================] - 26s 408ms/step - loss: 0.0498 - accuracy: 0.9844 - val_loss: 0.2254 - val_accuracy: 0.9349
Epoch 22/100
64/64 [==============================] - 26s 407ms/step - loss: 0.0349 - accuracy: 0.9904 - val_loss: 0.2170 - val_accuracy: 0.9513
Epoch 23/100
64/64 [==============================] - 28s 436ms/step - loss: 0.0399 - accuracy: 0.9886 - val_loss: 0.6627 - val_accuracy: 0.7946
Epoch 24/100
64/64 [==============================] - 26s 406ms/step - loss: 0.3106 - accuracy: 0.8580 - val_loss: 0.2745 - val_accuracy: 0.8982
Epoch 25/100
64/64 [==============================] - 26s 409ms/step - loss: 0.2389 - accuracy: 0.9023 - val_loss: 0.4359 - val_accuracy: 0.7940
Epoch 26/100
64/64 [==============================] - 26s 404ms/step - loss: 0.1917 - accuracy: 0.9244 - val_loss: 0.3253 - val_accuracy: 0.8816
Epoch 27/100
64/64 [==============================] - 27s 417ms/step - loss: 0.1275 - accuracy: 0.9522 - val_loss: 0.2447 - val_accuracy: 0.9060
Epoch 28/100
64/64 [==============================] - 28s 439ms/step - loss: 0.0959 - accuracy: 0.9681 - val_loss: 0.2375 - val_accuracy: 0.9234
Epoch 29/100
64/64 [==============================] - 27s 420ms/step - loss: 0.0884 - accuracy: 0.9693 - val_loss: 0.2353 - val_accuracy: 0.9238
Epoch 30/100
64/64 [==============================] - 27s 415ms/step - loss: 0.0651 - accuracy: 0.9791 - val_loss: 0.2372 - val_accuracy: 0.9245
Epoch 31/100
64/64 [==============================] - 26s 415ms/step - loss: 0.0477 - accuracy: 0.9846 - val_loss: 0.2219 - val_accuracy: 0.9329
Epoch 32/100
64/64 [==============================] - 28s 441ms/step - loss: 0.0442 - accuracy: 0.9869 - val_loss: 0.2636 - val_accuracy: 0.9134
Epoch 33/100
64/64 [==============================] - 28s 438ms/step - loss: 0.0849 - accuracy: 0.9710 - val_loss: 0.2680 - val_accuracy: 0.9149
Epoch 34/100
64/64 [==============================] - 28s 443ms/step - loss: 0.0635 - accuracy: 0.9799 - val_loss: 0.2677 - val_accuracy: 0.9268
Epoch 35/100
64/64 [==============================] - 28s 436ms/step - loss: 0.1025 - accuracy: 0.9650 - val_loss: 0.2622 - val_accuracy: 0.9086
Epoch 36/100
64/64 [==============================] - 28s 436ms/step - loss: 0.0693 - accuracy: 0.9762 - val_loss: 0.2501 - val_accuracy: 0.9309
Epoch 37/100
64/64 [==============================] - 28s 439ms/step - loss: 0.0395 - accuracy: 0.9876 - val_loss: 0.2441 - val_accuracy: 0.9326
Epoch 38/100
64/64 [==============================] - 27s 417ms/step - loss: 0.0674 - accuracy: 0.9780 - val_loss: 0.2510 - val_accuracy: 0.9174
Epoch 39/100
64/64 [==============================] - 28s 437ms/step - loss: 0.0660 - accuracy: 0.9776 - val_loss: 0.2566 - val_accuracy: 0.9165
Epoch 40/100
64/64 [==============================] - 28s 435ms/step - loss: 0.1249 - accuracy: 0.9575 - val_loss: 0.2287 - val_accuracy: 0.9336
Epoch 41/100
64/64 [==============================] - 28s 434ms/step - loss: 0.0397 - accuracy: 0.9881 - val_loss: 0.2396 - val_accuracy: 0.9351
Epoch 42/100
64/64 [==============================] - 26s 414ms/step - loss: 0.0291 - accuracy: 0.9920 - val_loss: 0.2402 - val_accuracy: 0.9344
Epoch 43/100
64/64 [==============================] - 28s 441ms/step - loss: 0.1655 - accuracy: 0.9302 - val_loss: 0.2832 - val_accuracy: 0.9025
Epoch 44/100
64/64 [==============================] - 26s 415ms/step - loss: 0.0415 - accuracy: 0.9878 - val_loss: 0.2578 - val_accuracy: 0.9224
Epoch 45/100
64/64 [==============================] - 27s 415ms/step - loss: 0.0221 - accuracy: 0.9944 - val_loss: 0.2181 - val_accuracy: 0.9400
Epoch 46/100
64/64 [==============================] - 28s 436ms/step - loss: 0.0163 - accuracy: 0.9963 - val_loss: 0.2870 - val_accuracy: 0.9247
Epoch 47/100
64/64 [==============================] - 28s 438ms/step - loss: 0.0151 - accuracy: 0.9965 - val_loss: 0.2504 - val_accuracy: 0.9385
Epoch 48/100
64/64 [==============================] - 26s 411ms/step - loss: 0.0092 - accuracy: 0.9983 - val_loss: 0.2777 - val_accuracy: 0.9375
Epoch 49/100
64/64 [==============================] - 26s 413ms/step - loss: 0.0072 - accuracy: 0.9989 - val_loss: 0.2627 - val_accuracy: 0.9408
Epoch 50/100
64/64 [==============================] - 26s 412ms/step - loss: 0.0059 - accuracy: 0.9991 - val_loss: 0.2672 - val_accuracy: 0.9426
Epoch 51/100
64/64 [==============================] - 26s 413ms/step - loss: 0.0051 - accuracy: 0.9992 - val_loss: 0.2740 - val_accuracy: 0.9423
Epoch 52/100
64/64 [==============================] - 28s 435ms/step - loss: 0.0045 - accuracy: 0.9993 - val_loss: 0.2760 - val_accuracy: 0.9433
Epoch 53/100
64/64 [==============================] - 27s 416ms/step - loss: 0.0039 - accuracy: 0.9993 - val_loss: 0.2825 - val_accuracy: 0.9417
Epoch 54/100
64/64 [==============================] - 28s 433ms/step - loss: 0.0033 - accuracy: 0.9995 - val_loss: 0.2874 - val_accuracy: 0.9426
Epoch 55/100
64/64 [==============================] - 26s 409ms/step - loss: 0.0029 - accuracy: 0.9995 - val_loss: 0.2932 - val_accuracy: 0.9424
Epoch 56/100
64/64 [==============================] - 26s 409ms/step - loss: 0.0026 - accuracy: 0.9996 - val_loss: 0.3008 - val_accuracy: 0.9439
Epoch 57/100
64/64 [==============================] - 28s 434ms/step - loss: 0.0023 - accuracy: 0.9996 - val_loss: 0.3019 - val_accuracy: 0.9436
Epoch 58/100
64/64 [==============================] - 27s 415ms/step - loss: 0.0021 - accuracy: 0.9996 - val_loss: 0.3078 - val_accuracy: 0.9431
Epoch 59/100
64/64 [==============================] - 26s 413ms/step - loss: 0.0019 - accuracy: 0.9997 - val_loss: 0.3110 - val_accuracy: 0.9432
Epoch 60/100
64/64 [==============================] - 28s 435ms/step - loss: 0.0018 - accuracy: 0.9997 - val_loss: 0.3160 - val_accuracy: 0.9428
Epoch 61/100
64/64 [==============================] - 26s 411ms/step - loss: 0.0016 - accuracy: 0.9997 - val_loss: 0.3225 - val_accuracy: 0.9416
Epoch 62/100
64/64 [==============================] - 28s 436ms/step - loss: 0.0014 - accuracy: 0.9998 - val_loss: 0.3269 - val_accuracy: 0.9422
Epoch 63/100
64/64 [==============================] - 28s 436ms/step - loss: 0.0012 - accuracy: 0.9998 - val_loss: 0.3251 - val_accuracy: 0.9428
Epoch 64/100
64/64 [==============================] - 28s 437ms/step - loss: 0.0010 - accuracy: 0.9998 - val_loss: 0.3257 - val_accuracy: 0.9438
Epoch 65/100
64/64 [==============================] - 28s 435ms/step - loss: 8.9680e-04 - accuracy: 0.9998 - val_loss: 0.3306 - val_accuracy: 0.9441
Epoch 66/100
64/64 [==============================] - 28s 436ms/step - loss: 7.8868e-04 - accuracy: 0.9998 - val_loss: 0.3372 - val_accuracy: 0.9439
Epoch 67/100
64/64 [==============================] - 27s 417ms/step - loss: 6.9537e-04 - accuracy: 0.9999 - val_loss: 0.3418 - val_accuracy: 0.9438
Epoch 68/100
64/64 [==============================] - 26s 411ms/step - loss: 6.1833e-04 - accuracy: 0.9999 - val_loss: 0.3459 - val_accuracy: 0.9440
Epoch 69/100
64/64 [==============================] - 28s 435ms/step - loss: 5.4295e-04 - accuracy: 0.9999 - val_loss: 0.3488 - val_accuracy: 0.9441
Epoch 70/100
64/64 [==============================] - 28s 435ms/step - loss: 4.8148e-04 - accuracy: 0.9999 - val_loss: 0.3515 - val_accuracy: 0.9443
Epoch 71/100
64/64 [==============================] - 28s 432ms/step - loss: 4.3205e-04 - accuracy: 0.9999 - val_loss: 0.3581 - val_accuracy: 0.9440
Epoch 72/100
64/64 [==============================] - 28s 436ms/step - loss: 3.8346e-04 - accuracy: 0.9999 - val_loss: 0.3604 - val_accuracy: 0.9445
Epoch 73/100
64/64 [==============================] - 26s 410ms/step - loss: 3.5277e-04 - accuracy: 0.9999 - val_loss: 0.3674 - val_accuracy: 0.9440
Epoch 74/100
64/64 [==============================] - 28s 434ms/step - loss: 3.2246e-04 - accuracy: 1.0000 - val_loss: 0.3687 - val_accuracy: 0.9444
Epoch 75/100
64/64 [==============================] - 26s 408ms/step - loss: 2.9853e-04 - accuracy: 1.0000 - val_loss: 0.3723 - val_accuracy: 0.9448
Epoch 76/100
64/64 [==============================] - 28s 438ms/step - loss: 2.7678e-04 - accuracy: 1.0000 - val_loss: 0.3744 - val_accuracy: 0.9445
Epoch 77/100
64/64 [==============================] - 26s 411ms/step - loss: 2.5944e-04 - accuracy: 1.0000 - val_loss: 0.3800 - val_accuracy: 0.9443
Epoch 78/100
64/64 [==============================] - 28s 435ms/step - loss: 2.4448e-04 - accuracy: 1.0000 - val_loss: 0.3821 - val_accuracy: 0.9444
Epoch 79/100
64/64 [==============================] - 26s 409ms/step - loss: 2.2958e-04 - accuracy: 1.0000 - val_loss: 0.3843 - val_accuracy: 0.9446
Epoch 80/100
64/64 [==============================] - 28s 436ms/step - loss: 2.1676e-04 - accuracy: 1.0000 - val_loss: 0.3885 - val_accuracy: 0.9443
Epoch 81/100
64/64 [==============================] - 28s 442ms/step - loss: 2.0618e-04 - accuracy: 1.0000 - val_loss: 0.3882 - val_accuracy: 0.9451
Epoch 82/100
64/64 [==============================] - 26s 407ms/step - loss: 1.9560e-04 - accuracy: 1.0000 - val_loss: 0.3923 - val_accuracy: 0.9448
Epoch 83/100
64/64 [==============================] - 26s 412ms/step - loss: 1.8623e-04 - accuracy: 1.0000 - val_loss: 0.3941 - val_accuracy: 0.9451
Epoch 84/100
64/64 [==============================] - 26s 410ms/step - loss: 1.7767e-04 - accuracy: 1.0000 - val_loss: 0.3961 - val_accuracy: 0.9450
Epoch 85/100
64/64 [==============================] - 28s 438ms/step - loss: 1.7003e-04 - accuracy: 1.0000 - val_loss: 0.3970 - val_accuracy: 0.9458
Epoch 86/100
64/64 [==============================] - 26s 411ms/step - loss: 1.6290e-04 - accuracy: 1.0000 - val_loss: 0.4008 - val_accuracy: 0.9454
Epoch 87/100
64/64 [==============================] - 28s 433ms/step - loss: 1.5612e-04 - accuracy: 1.0000 - val_loss: 0.4028 - val_accuracy: 0.9453
Epoch 88/100
64/64 [==============================] - 28s 434ms/step - loss: 1.5006e-04 - accuracy: 1.0000 - val_loss: 0.4035 - val_accuracy: 0.9457
Epoch 89/100
64/64 [==============================] - 26s 410ms/step - loss: 1.4403e-04 - accuracy: 1.0000 - val_loss: 0.4068 - val_accuracy: 0.9453
Epoch 90/100
64/64 [==============================] - 28s 436ms/step - loss: 1.3830e-04 - accuracy: 1.0000 - val_loss: 0.4088 - val_accuracy: 0.9454
Epoch 91/100
64/64 [==============================] - 27s 416ms/step - loss: 1.3311e-04 - accuracy: 1.0000 - val_loss: 0.4110 - val_accuracy: 0.9453
Epoch 92/100
64/64 [==============================] - 28s 435ms/step - loss: 1.2820e-04 - accuracy: 1.0000 - val_loss: 0.4132 - val_accuracy: 0.9454
Epoch 93/100
64/64 [==============================] - 28s 434ms/step - loss: 1.2344e-04 - accuracy: 1.0000 - val_loss: 0.4144 - val_accuracy: 0.9456
Epoch 94/100
64/64 [==============================] - 28s 434ms/step - loss: 1.1877e-04 - accuracy: 1.0000 - val_loss: 0.4167 - val_accuracy: 0.9456
Epoch 95/100
64/64 [==============================] - 26s 409ms/step - loss: 1.1454e-04 - accuracy: 1.0000 - val_loss: 0.4184 - val_accuracy: 0.9456
Epoch 96/100
64/64 [==============================] - 28s 431ms/step - loss: 1.1046e-04 - accuracy: 1.0000 - val_loss: 0.4193 - val_accuracy: 0.9459
Epoch 97/100
64/64 [==============================] - 26s 410ms/step - loss: 1.0653e-04 - accuracy: 1.0000 - val_loss: 0.4224 - val_accuracy: 0.9456
Epoch 98/100
64/64 [==============================] - 28s 434ms/step - loss: 1.0268e-04 - accuracy: 1.0000 - val_loss: 0.4241 - val_accuracy: 0.9455
Epoch 99/100
64/64 [==============================] - 26s 410ms/step - loss: 9.8949e-05 - accuracy: 1.0000 - val_loss: 0.4251 - val_accuracy: 0.9459
Epoch 100/100
64/64 [==============================] - 26s 409ms/step - loss: 9.5452e-05 - accuracy: 1.0000 - val_loss: 0.4265 - val_accuracy: 0.9459

In [ ]:
Y_pred=(lstm_model.predict(X_test)>=0.5).astype(int)

483/483 [==============================] - 12s 25ms/step

In [ ]:
accuracy_score(Y_test,Y_pred)

0.9437038954316035

In [ ]:
print(classification_report(Y_test,Y_pred))

              precision    recall  f1-score   support

           0       0.95      0.94      0.95      8159
           1       0.94      0.95      0.94      7295

    accuracy                           0.94     15454
   macro avg       0.94      0.94      0.94     15454
weighted avg       0.94      0.94      0.94     15454

In [ ]:
lstm_model.save('models/ds1-2_combined_epoch-100')

WARNING:absl:Function `_wrapped_model` contains input name(s) Echo_input with unsupported characters which will be renamed to echo_input in the SavedModel.
WARNING:absl:Found untraced functions such as lstm_cell_2_layer_call_fn, lstm_cell_2_layer_call_and_return_conditional_losses while saving (showing 2 of 2). These functions will not be directly callable after loading.

In [31]:
nmod=tf.keras.saving.load_model('models/ds1-2_combined_epoch-100_extensive')

In [32]:
y_pred = (nmod.predict(X_test) >=0.5).astype(int)

483/483 [==============================] - 186s 384ms/step

In [33]:
accuracy_score(Y_test,y_pred)

0.9732108192053838

In [39]:
print(classification_report(Y_test,y_pred))

              precision    recall  f1-score   support

           0       0.97      0.97      0.97      8132
           1       0.97      0.97      0.97      7322

    accuracy                           0.97     15454
   macro avg       0.97      0.97      0.97     15454
weighted avg       0.97      0.97      0.97     15454

In [40]:
string_predict1=pd.DataFrame()
string_predict1=data.iloc[22000:23000]
string_predict1

                                                    text  identity
22000   trumps dc hotel raised price and made million...         0
22001   trumps rhetoric just resulted in a trillion d...         0
22002   this old tweet from trump reveals the real re...         0
22003   trump is raising your healthcare premiums and...         0
22004   donald trump just announced another position ...         0
...                                                  ...       ...
22995   watch teacher whitesplains his use of ner to ...         0
22996   trump accidentally says he wants single payer...         0
22997   trump nominee brags that taking away healthca...         0
22998   trump says hes going to save the country mone...         0
22999   fda department gets order from white house sa...         0

[1000 rows x 2 columns]

In [43]:
X=tokenizer.texts_to_sequences(texts=string_predict1['text'])
X=pad_sequences(sequences=X,maxlen=max_len,padding='pre')
string_predict1_res=(nmod.predict(X)>=0.5).astype(int)

32/32 [==============================] - 12s 379ms/step

In [44]:
accuracy_score(string_predict1_res,string_predict1['identity'])

0.999

In [46]:
string_predict2=pd.DataFrame()
string_predict2=data.iloc[0:1000]
string_predict2

                                                  text  identity
0    as us budget fight looms republicans flip thei...         1
1    us military to accept transgender recruits on ...         1
2    senior us republican senator let mr mueller do...         1
3    fbi russia probe helped by australian diplomat...         1
4    trump wants postal service to charge much more...         1
..                                                 ...       ...
995  house panels seek documents on puerto rico uti...         1
996  trump releases some jfk files blocks others un...         1
997  tillerson tells myanmar army chief us concerne...         1
998  exclusive while advising trump in 2016 excia c...         1
999  mattis visits seoul for defense talks as tensi...         1

[1000 rows x 2 columns]

In [48]:
X=tokenizer.texts_to_sequences(texts=string_predict2['text'])
X=pad_sequences(sequences=X,maxlen=max_len,padding='pre')
string_predict2_res=(nmod.predict(X)>=0.5).astype(int)

32/32 [==============================] - 12s 380ms/step

In [49]:
accuracy_score(string_predict2_res,string_predict2['identity'])

0.989